
.contact-section{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.5)), url('https://images.unsplash.com/photo-1504674900247-0877df9cc836?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=870&q=80') ;
    background-repeat: no-repeat;
    background-size: cover;
}
.contact-div{
    margin-top: 50px;
    height: 500px;
}
.left-side{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.right-side{
    display: flex;
    justify-content: center;
    flex-direction: column;
}
.social-links a{
    text-decoration: none;
}
.right-side .form input, textarea{
    outline: none;
    background: transparent;
    width: 535px;
    margin-bottom: 12px;
    color: white;
    font-size: 1em;
}
::placeholder{
    color: gold;
}

.send-msg {
    font-family: inherit;
    font-size: 16px;
    background: goldenrod;
    color: white;
    padding: 0.7em 1em;
    padding-left: 0.9em;
    display: flex;
    align-items: center;
    border: none;
    overflow: hidden;
    transition: all 0.2s;
    width: 535px;
  }
  
  .send-msg span {
    display: block;
    margin-left: 0.3em;
    transition: all 0.3s ease-in-out;
  }
  
  .send-msg svg {
    display: block;
    transform-origin: center center;
    transition: transform 0.3s ease-in-out;
  }
  
  .send-msg:hover .svg-wrapper {
    animation: fly-1 0.6s ease-in-out infinite alternate;
  }
  
  .send-msg:hover svg {
    transform: translateX(1.2em) rotate(45deg) scale(1.1);
  }
  
  .send-msg:hover span {
    transform: translateX(7.5em);
  }
  
  .send-msg:active {
    transform: scale(0.95);
  }
  
  @keyframes fly-1 {
    from {
      transform: translateY(0.1em);
    }
  
    to {
      transform: translateY(-0.1em);
    }
  }
  
  

